---
import Slider from "@components/Slider";
import videomp4 from "@assets/videos/short-pizza.mp4";
import videowebm from "@assets/videos/short-pizza.webm";
import ellipseViolet from "@assets/images/ellipse-violet-extra.svg";
import ellipseOrange from "@assets/images/ellipse-orange-extra.svg";
import metricNew from "@assets/images/metric-new.svg";
import metricNewMobile from "@assets/images/metric-new-mobile.svg";
import {Image} from "@astrojs/image/components";
import logoBloomberg from "../../assets/icons/logo-bloomberg.svg";

---

<div class="mobile:mb-[6rem] tablet:mb-[7.8125rem] desktop:mb-[7.8125rem]">
    <div class="container tablet:min-h-[22.875rem] mobile:mb-10 desktop:min-h-[27rem] desktop:mb-15">
        <p class="text-subtitle tablet:mb-1 desktop:mb-2 mobile:mb-5">Who we are</p>

        <div class="relative mb-[1.875rem] tablet:mb-[5rem] desktop:mb-[6.75rem]">
            <h2 class="text-h-2 mobile:mb-4">World’s fastest growing <br class="mobile:hidden">pizza chain</h2>
            <p class="text-regular mobile:leading-[1.2] tablet:absolute desktop:absolute desktop:top-[9.8rem] desktop:left-[31.25rem] tablet:top-[7.1875rem] tablet:max-w-[30.625rem] tablet:left-[23.75rem]">Dodo Pizza, founded in 2011, is a pizza delivery brand with strong restaurant experience. We play on the same field as Domino’s, Papa John’s,  Pizza Hut but doing things differently with our own tech.</p>
            <p class="text-[1.5rem] font-regular text-dark-gray pt-4 mobile:hidden">Technomic,  2021</p>
        </div>
    </div>

    <div class="hidden tablet:container desktop:container  mobile:flex-col tablet:flex-col tablet:gap-[5.125rem] desktop:gap-[5.125rem]">
        <div class="relative grow-[2] translate-z-0 h-[31.5rem] mobile:mb-10 mobile:h-[85vh] tablet:max-h-[30rem] tablet:min-w-[20.125rem] desktop:h-[44.5rem] desktop:max-w-[30rem] rounded-4xl overflow-hidden">
            <video class="absolute translate-z-0 object-cover w-full h-full scale-[1.01]" preload="auto" loop autoplay muted playsinline>
                <source src={videowebm} type="video/webm"/>
                <source src={videomp4} type="video/mp4"/>
            </video>
        </div>

        <div class="mobile:container grow">
            <div class="flex">
                <div class="relative translate-z-0 rounded-3xl desktop:rounded-4xl overflow-hidden p-7 mobile:py-5 tablet:p-8 desktop:p-10 bg-gray">
                    <div
                        class="absolute tablet:hidden w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] mobile:-top-[190px] bottom-auto tablet:bottom-[0] desktop:bottom-[0] -left-[140px] tablet:-left-[1rem] desktop:-left-[280px]">
                        <Image src={ellipseViolet} alt="violet"/>
                    </div>

                    <div
                        class="absolute tablet:hidden w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -bottom-[180px] tablet:-bottom-[1.75rem] desktop:-bottom-[300px] left-[10px] tablet:left-[1rem] desktop:left-[11px]">
                        <Image src={ellipseOrange} alt="orange"/>
                    </div>

                    <div class="relative z-10">
                        <p class="text-strong-title">900+</p>
                        <p class="text-strong-subtitle">stores</p>
                    </div>
                </div>

                <div class="relative translate-z-0 rounded-3xl desktop:rounded-4xl overflow-hidden p-7 mobile:py-5 tablet:p-8 desktop:p-10 bg-gray">
                    <div
                        class="absolute tablet:hidden w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -bottom-[44px] tablet:bottom-[0] desktop:bottom-[0] -left-[337px] tablet:-left-[1rem] desktop:-left-[513px]">
                        <Image src={ellipseViolet} alt="violet"/>
                    </div>

                    <div
                        class="absolute tablet:hidden w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -bottom-[180px] tablet:-bottom-[1.75rem] desktop:-bottom-[300px] -left-[186px] tablet:-right-[1rem] desktop:-left-[270px]">
                        <Image src={ellipseOrange} alt="orange"/>
                    </div>

                    <div class="relative z-10">
                        <p class="text-strong-title">17</p>
                        <p class="text-strong-subtitle">countries</p>
                    </div>
                </div>
            </div>

            <div class="relative translate-z-0 rounded-3xl desktop:rounded-4xl overflow-hidden p-7 mobile:py-5 tablet:p-8 desktop:p-10 bg-gray w-full">
                <div
                    class="absolute tablet:hidden desktop:hidden w-[22.563em] tablet:w-[20rem] desktop:w-[20rem] -top-[317px] tablet:-top-[1.75rem] desktop:-left-[450px] -left-[140px] tablet:-left-[1rem] desktop:top-[450px]">
                    <Image src={ellipseViolet} alt="violet"/>
                </div>

                <div
                    class="absolute tablet:hidden w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -bottom-[53px] tablet:-bottom-[1.75rem] desktop:-bottom-[105px] right-auto left-[12px] tablet:-right-[1rem] desktop:left-[11px]">
                    <Image src={ellipseOrange} alt="orange"/>
                </div>

                <div class="relative">
                    <p class="text-strong-title">$ 831 mln</p>
                    <p class="text-strong-subtitle">2022 sales</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tablet:container desktop:container flex mobile:flex-col-reverse">
        <div class="relative grid mobile:grid-rows-2 mobile:grid-cols-3 tablet:grid-rows-3 desktop:grid-rows-3 shrink-0">
            <div class="overflow-hidden translate-z-0 mobile:col-span-3 mobile:row-span-1 rounded-3xl desktop:rounded-5xl p-7 mobile:py-5 tablet:p-8 desktop:pt-10 desktop:pb-5 desktop:px-20 bg-gray">
                <div
                    class="absolute tablet:hidden border-2t border-accent-violett w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -top-[1rem] tablet:top-[0] desktop:top-[0] -left-[6rem] tablet:-left-[1rem] desktop:-left-[6rem]">
                    <Image src={ellipseViolet} alt="violet"/>
                </div>

                <div
                    class="absolute tablet:hidden  border-2t border-accent-oranget w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] top-[1rem] tablet:-top-[1.75rem] desktop:-top-[300px] -right-[8.6rem] tablet:-right-[1rem] desktop:-right-[11px]">
                    <Image src={ellipseOrange} alt="orange"/>
                </div>

                <div class="relative z-10">
                    <div class="flex">
                        <p class="text-strong-title">$831</p>
                        <p class="text-[1rem] tablet:text-[2rem] desktop:text-[2rem] text-accent-orange font-regular ml-2 tablet:ml-4 desktop:ml-4">↑ 56%</p>
                    </div>
                    <p class="text-strong-subtitle">mln</p>
                </div>
            </div>

            <div class="overflow-hidden translate-z-0 mobile:row-span-1 mobile:col-span-2 rounded-3xl desktop:rounded-5xl  p-7 mobile:py-5 tablet:p-8 desktop:pt-10 desktop:pb-5 desktop:px-20 bg-gray">
                <div
                    class="absolute tablet:hidden border-2t border-accent-violett w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -top-[8rem] bottom-auto tablet:bottom-[0] desktop:bottom-[0] -left-[6rem] tablet:-left-[1rem] desktop:-left-[280px]">
                    <Image src={ellipseViolet} alt="violet"/>
                </div>

                <div
                    class="absolute tablet:hidden border-2t border-accent-oranget w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -top-[6rem] tablet:top-[1.75rem] desktop:top-[300px] -right-[16.6rem] tablet:-right-[1rem] desktop:-right-[11px]">
                    <Image src={ellipseOrange} alt="orange"/>
                </div>

                <div class="relative z-10">
                    <p class="text-strong-title">900+</p>
                    <p class="text-strong-subtitle">stores</p>
                </div>
            </div>

            <div class="overflow-hidden translate-z-0 mobile:row-span-2 mobile:col-span-1 rounded-3xl desktop:rounded-5xl p-7 mobile:py-5 tablet:p-8 desktop:pt-10 desktop:pb-5 desktop:px-20 bg-gray">
                <div
                    class="absolute tablet:hidden border-2t border-accent-violett w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -top-[8rem] bottom-auto tablet:bottom-[0] desktop:bottom-[0] -left-[24.6rem] tablet:-left-[1rem] desktop:-left-[280px]">
                    <Image src={ellipseViolet} alt="violet"/>
                </div>

                <div
                    class="absolute tablet:hidden border-2t border-accent-oranget w-[22.563rem] tablet:w-[56.25rem] desktop:w-[56.25rem] -top-[6rem] tablet:-top-[1.75rem] desktop:-top-[300px] -right-[8.6rem] tablet:-right-[1rem] desktop:-right-[11px]">
                    <Image src={ellipseOrange} alt="orange"/>
                </div>

                <div class="relative z-10">
                    <p class="text-strong-title">17</p>
                    <p class="text-strong-subtitle">countries</p>
                </div>
            </div>
        </div>

        <div class="relative flex items-end overflow-hidden translate-z-0 rounded-3xl pt-[3rem] desktop:rounded-5xl p-7 mobile:py-5 tablet:p-8 tablet:pt-[5rem] desktop:pb-[3.125rem] desktop:pt-[5rem] desktop:px-[3.125rem]  bg-gray grow">
            <div class="mobile:mx-auto">
                <div
                    class="absolute top-[1.5rem] tablet:top-[3rem] desktop:top-[3rem] flex gap-[0.75rem] mb-10 flex-col-reverse border-l pl-4 tablet:pl-8 desktop:pl-8">
                    <div class="w-[6rem] tablet:w-[10.72rem] desktop:w-[10.72rem]">
                        <Image src={logoBloomberg} alt="Logog bloomberg" class="object-contain w-full desktop:mt-3"/>
                    </div>

                    <p class="text-regular-2 text-[1.125rem] desktop:text-4xl tracking-tightest leading-[1.15]">Dodo
                        Pizza has<br class="tablet:hidden desktop:hidden"> turned into <br class="mobile:hidden tablet:hidden">one of <br class="tablet:hidden desktop:hidden">the fastest-growing  <br class="tablet:hidden">restaurant chains</p>
                </div>

                <div class="relative mobile:hidden">
                    <Image src={metricNew} alt="metric" />
                </div>

                <div class="relative tablet:hidden desktop:hidden">
                    <Image src={metricNewMobile} alt="metric" />
                </div>

                <p class="text-[0.625rem] tablet:text-[1rem] desktop:text-[1rem] tracking-widest uppercase text-center pt-2 tablet:pt-4 desktop:pt-4">system sales in mln usd</p>
            </div>
        </div>
    </div>

    <p class="container text-[0.8rem] font-regular text-dark-gray pt-4 tablet:hidden desktop:hidden">Technomic,  2021</p>
</div>
