---
import {Image, Picture} from '@astrojs/image/components';

import ellipseViolet from "@assets/images/ellipse-violet.svg";
import ellipseOrange from "@assets/images/ellipse-orange.svg";

import dodoLogo from "@assets/icons/logo-dodo-black.svg";
import videowebm from "@assets/videos/dodo-is.webm";
import videomp4 from "@assets/videos/dodo-is.mp4";
---


<section
    class="relative max-w-[100vw] rounded-b-3xl mb-[8.125rem] tablet:mb-[8.75rem] tablet:px-[2rem] desktop:px-[3rem] overflow-hidden pb-[6rem] tablet:pb-[8rem] desktop:pb-[15rem]">

    <div
        class="absolute hidden desktop:block desktop:w-[112.5rem] tablet:w-[62.5rem] w-[50rem] mobile:-top-[13.75rem] -left-[30.625rem] tablet:-top-[18.75rem] tablet:-left-[29.375rem] desktop:top-[8.75rem] desktop:-left-[83rem]">
        <Image src={ellipseViolet} alt="violet"/>
    </div>

    <div
        class="absolute hidden desktop:block desktop:w-[112.5rem] tablet:w-[62.5rem] w-[50rem] mobile:-bottom-[23.125rem] -right-[29.375rem] tablet:-bottom-[35rem] tablet:-right-[40.8125rem] desktop:top-[20rem] desktop:-right-[87rem]">
        <Image src={ellipseOrange} alt="orange"/>
    </div>

    <div class="container relative pt-8 tablet:pt-10 dekstop:pt-20 tablet:mb-20 desktop:mb-40">
        <div class="w-[6.6rem] tablet:w-[8.625rem] desktop:w-[12.875rem] mb-[2rem] tablet:mb-[4rem] desktop:mb-[6rem]">
            <Image src={dodoLogo} alt="Dodo logo"/>
        </div>

        <p class="font-regular text-[4.125rem] tablet:text-[5.5rem] desktop:text-[10.5rem] leading-none tracking-tightest pb-[1rem] tablet:pb-[2rem] desktop:pb-[2rem]">We digitalised pizza</p>
        <p class="desktop:absolute right-[10rem] text-sub-main text-4xl tracking-tightest mb-6 tablet:mb-8">Master franchise opportunity in the
            <br class="mobile:hidden"><span>Middle East, Africa, Asia, and South America</span></p>
    </div>

    <div class="relative h-[80vh] tablet:h-[40rem] desktop:h-[52rem] max-w-[130rem] overflow-hidden w-full rounded-2xl tablet:rounded-3xl desktop:rounded-3xl mx-auto">
        <video class="absolute object-cover object-center w-full h-full" loop autoplay muted playsinline>
            <source src={videowebm} type="video/webm"/>
            <source src={videomp4} type="video/mp4"/>
        </video>

        <button
            class="absolute top-1/2 -translate-y-2/4 left-1/2 -translate-x-2/4 p-3 rounded-[7.5rem] flex items-center bg-white text-accent-orange transition-all tablet:p-4 desktop:p-4 hover:scale-[1.1]">
            <div
                class="bg-accent-orange text-white rounded-full flex items-center justify-center w-[4rem] h-[4rem] mr-[0.9375rem] desktop:w-[4.75rem] desktop:h-[4.75rem] desktop:ml-[0.4375rem]">

                <svg width="29" height="34" viewBox="0 0 29 34" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="ml-2">
                    <path
                        d="M4.6292 0.464046L27.698 14.722C29.434 15.797 29.434 18.2329 27.698 19.2723L4.6292 33.5309C2.66179 34.7485 0 33.459 0 31.2376V2.75666C0 0.570934 2.66179 -0.754207 4.6292 0.464046Z"
                        fill="currentColor"/>
                </svg>
            </div>
            <p class="text-[1rem] tablet:text-[1.5rem] desktop:text-[2rem] text-black font-regular text-left leading-custom whitespace-nowrap mr-[1.125rem] ">How
                we reinvented<br> pizza franchising</p>
        </button>
    </div>
</section>
