---
import {Image} from '@astrojs/image/components';

import logoPmq from "@assets/icons/logopmq.svg";
import logoDodo from "@assets/icons/logo-dodo-black.svg";
import clock from "@assets/icons/clock.svg";
import employee from "@assets/icons/employee.svg";
import geo from "@assets/icons/geo.svg";
import global from "@assets/icons/global.svg";
import arrowUp from "@assets/icons/arrow-up.svg";
import map from "@assets/images/map-vector.svg";
---

<section class="container mobile:mb-[7.625rem] tablet:mb-[11.125rem] desktop:mb-[17.375rem]">
    <div class="tablet:min-h-[11rem] desktop:min-h-[25rem] tablet:mb-[5rem]">
        <div class="relative mobile:pt-3 mb-7 ">
            <h2 class="text-h-2 mobile:mb-5 desktop:leading-custom">Digits make transparent<br> <span>everything</span>
            </h2>

            <p class="text-regular hidden desktop:block desktop:absolute desktop:top-[10.1875rem] desktop:left-[30.4375rem]">
                that happens in your business<br class="mobile:hidden tablet:hidden"> every moment
            </p>
            <p class="text-regular mobile:hidden desktop:hidden tablet:absolute tablet:top-[8.5rem] tablet:left-[23.5625rem]">
                that happens in your business every moment
            </p>
            <p class="text-regular tablet:hidden desktop:hidden tablet:absolute tablet:top-[11.0625rem] tablet:left-[29.1875rem]">
                that happens in your business every moment
            </p>
        </div>
    </div>

    <div
        class="relative flex mobile:mb-10 mobile:min-h-[30rem] tablet:min-h-[31.875rem] desktop:min-h-[47.375rem] mobile:flex-col tablet:mb-[4.3125rem] desktop:mb-[6.25rem] desktop:-mt-[1.125rem]">
        <div class="rounded-3xl bg-gray desktop:w-2/3 tablet:w-2/3 mobile:w-full mobile:grow relative overflow-hidden">
            <Image src={map} alt="map" class="absolute object-cover w-full h-full"/>

            <div
                class="relative flex flex-col h-full tablet:px-[1.625rem] tablet:pt-[1.625rem] tablet:pb-10 desktop:px-10 desktop:pt-10 pb-[3.875rem] justify-between mobile:gap-4 mobile:px-5 mobile:py-5">
                <div class="w-[7.3125rem] tablet:w-[10.6875rem] desktop:w-[15.8125rem]">
                    <Image src={logoDodo} alt="Dodo logo" class="object-contain w-full h-full"/>
                </div>

                <div class="flex flex-col gap-2">
                    <div class="flex items-center gap-3">
                        <div class="w-5 tablet:w-[1.6875rem] desktop:w-10 ">
                            <Image src={clock} alt="Clock icon" class="object-contain w-full h-full"/>
                        </div>

                        <p class="text-xs tablet:tracking-widest desktop:text-legend uppercase">22 Dec 2022, 14:57:42</p>
                    </div>

                    <div class="flex gap-4">
                        <p class="text-2xl desktop:text-[3.75rem] tablet:text-4xl tracking-tightest">$350 654 120</p>

                        <div class="flex items-center gap-2 mobile:gap-1">
                            <div class="desktop:w-6 tablet:w-4 mobile:w-4">
                                <Image src={arrowUp} alt="Arrow up icon" class="object-contain w-full h-full"/>
                            </div>

                            <p class="text-legend text-accent-orange tracking-tightest">+17%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="mobile:absolute mobile:bg-[#F4F2F2AA] mobile:bottom-0 mobile:left-0 mobile:right-0 mobile:flex-row rounded-3xl bg-gray desktop:w-1/3 tablet:w-1/3 mobile:w-full overflow-hidden tablet:px-[1.1875rem] tablet:py-[0.875rem] desktop:px-[1.6875rem] desktop:py-[2.1875rem] mobile:px-5 py-5">
            <div class="flex flex-col mobile:flex-row mobile:justify-between tablet:gap-[1rem] desktop:gap-[2.0625rem] mobile:gap-1">
                <div class="flex flex-col gap-1">
                    <div class="flex gap-0.5">
                        <p class="text-unit">738</p>

                        <div class="w-4 tablet:w-6 desktop:w-9">
                            <Image src={geo} alt="Geo icon" class="object-contain w-full h-full"/>
                        </div>
                    </div>

                    <p class="text-unit-title">units</p>
                </div>

                <div class="flex flex-col gap-1">
                    <div class="flex gap-0.5">
                        <p class="text-unit">23 525</p>

                        <div class="w-5 tablet:w-8 desktop:w-11">
                            <Image alt="Employee icon" src={employee} class="object-contain w-full h-full"/>
                        </div>
                    </div>

                    <p class="text-unit-title">Dodo people</p>
                </div>

                <div class="flex flex-col gap-1">
                    <div class="flex gap-0.5 items-center">
                        <p class="text-unit">15</p>

                        <div class="w-5 tablet:w-8 desktop:w-11">
                            <Image alt="Earth icon" src={global} class="object-contain w-full h-full"/>
                        </div>
                    </div>

                    <p class="text-unit-title">Countries</p>
                </div>
            </div>

        </div>
    </div>

    <div
        class="flex mobile:gap-3 tablet:gap-9 desktop:gap-6 mobile:flex-col-reverse mobile:border-l mobile:pl-4">
        <div class="w-[3.875rem] tablet:w-[5.1875rem] desktop:w-[9.5625rem] shrink-0">
            <Image src={logoPmq} alt="Logo PMQ" class="object-contain w-full"/>
        </div>
        <div class="mobile:hidden tablet:w-[0.0625rem] tablet:max-w-[14.375rem] desktop:w-[0.0625rem] desktop:mt-2.5 bg-black"></div>
        <p class="text-regular-2 tablet:text-4xl tracking-tightest desktop:ml-[1.75rem] desktop:leading-custom">Fedor Ovchinnikov of Russian chain<br class="mobile:hidden"> Dodo Pizza
            may be the Steve Jobs<br class="mobile:hidden"> of pizza</p>
    </div>
</section>
