---
import { Image } from '@astrojs/image/components';

import team from "@assets/images/team-example.png";
import logoRestaurantLeadership from "@assets/icons/logo-restaurant-leadership.svg";
import dodoIs from "@assets/videos/dodo-is.webm";
import dodoIsExtra from "@assets/videos/dodo-is.mp4";
// <Image src={logoRestaurantLeadership} alt="Logo Restaurant Leadership" class="object-contain w-full h-full"/>

---

<section class="container flex mobile:mb-4 desktop:items-center tablet:mb-[9.8125rem] tablet:gap-[10.5rem] desktop:gap-10 desktop:mb-[18.75rem] mobile:flex-col">
    <div class="flex flex-col desktop:flex-1 tablet:pt-10">
        <p class="text-regular-2 mobile:text-[1.625rem] mobile:mb-8 desktop:leading-custom tablet:mb-20 desktop:-mt-20">
            Everything ready<br class="mobile:hidden tablet:hidden"> since day one and free<br class="mobile:hidden tablet:hidden"> for franchisees.<br class="mobile:hidden tablet:hidden"> Improved, developed<br class="mobile:hidden tablet:hidden"> and supported<br class="mobile:hidden tablet:hidden"> <span>by our team 24/7</span>
        </p>

        <div class="flex mobile:hidden desktop:hidden mobile:gap-[0.75rem] tablet:gap-[1.75rem] desktop:gap-[3.75rem] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4">
            <div class="w-[6.4375rem] tablet:w-[10rem] desktop:w-[12.0625rem]">
                <Image src={logoRestaurantLeadership}  alt="Logo Restaurant Leadership" class="object-contain w-full h-full"/>
            </div>
            <div class="mobile:hidden tablet:h-[0.0625rem] tablet:max-w-[14.375rem] desktop:w-[0.0625rem] bg-black"></div>
            <p class="tablet:text-4xl desktop:text-3xl tablet:leading-custom">Industry’s first truly digital-first concept,<br class="tablet:hidden">with technology figuring into all aspects<br class="tablet:hidden">of operations</p>
        </div>
    </div>

    <div class="relative mobile:mb-10 desktop:max-w-[42.5rem] mobile:max-h-[50rem] tablet:min-w-[20.125rem]  rounded-xl overflow-hidden desktop:flex-1 tablet:max-h-[30rem] desktop:max-h-[44.375rem]">
        <video class="min-h-full min-w-full object-cover scale-[1.15]" loop autoplay muted playsinline >
            <source src={dodoIs} type="video/webm"/>
            <source src={dodoIsExtra} type="video/mp4"/>
        </video>
    </div>

    <div class="flex tablet:hidden desktop:hidden mobile:gap-[0.75rem] tablet:gap-[1.625rem] desktop:gap-[3.75rem] mb-10 tablet:flex-col-reverse mobile:flex-col-reverse mobile:border-l mobile:pl-4">
        <div class="w-[7.5rem] tablet:w-[10.125rem] desktop:w-[12.0625rem]">
            <Image src={logoRestaurantLeadership} alt="Logo Restaurant Leadership" class="object-contain w-full h-full"/>
        </div>
        <div class="mobile:hidden tablet:h-[0.0625rem] tablet:max-w-[14.375rem] desktop:w-[0.0625rem] bg-black"></div>
        <p class="text-regular mobile:text-2xl">Industry’s first truly digital-first concept,with technology figuring into all aspects of operations</p>
    </div>
</section>
